---
layout: markdown_page
title: Category maturity
extra_css:
  - "maturity.css"
extra_js:
  - "libs/moment.min.js"
  - "maturity.js"
---

Not all categories are at the same level of maturity, which spans from being planned, to minimal, and ultimately 
to lovable. See below for where each category currently stands and when they will reach higher maturity levels.

<%
def maturity(category, milestone)
  return case
  when category.lovable && category.lovable <= milestone
    "<span title=\"Lovable\">♥</span>"
  when category.complete && category.complete <= milestone
    "<span title=\"Complete\" class=\"harvey quarters full\"></span>"
  when category.viable && category.viable <= milestone
    "<span title=\"Viable\" class=\"harvey quarters half\"></span>"
  when category.available && category.available <= milestone
    "<span title=\"Minimal\" class=\"harvey quarters quarter\"></span>"
  else
    "<span title=\"Planned\" class=\"harvey\"></span>"
  end
end
%>
| Category                       | Today                      | Q1           | Q2           | Q3           | Q4           |
| *Date*                         | *<span id="today"></span>* | *2019-04-30* | *2019-07-31* | *2019-10-31* | *2020-01-31* |
|--------------------------------|:--------------------------:|:------------:|:------------:|:------------:|:------------:|
<% data.stages.stages.each do |stageKey, stage| %>
  <% categories = data.categories.select{|catKey,cat| cat.stage==stageKey && !cat.hide && !cat.available.blank?} %>
  <% next if categories.empty? %>
  <%= "| **#{stage.display_name}<a name=\"#{stageKey}\"></a>** | | | | |" %>
  <% categories.each do |categoryKey, category| %>
    <% categoryName = category.vision ? "[#{category.name}](#{category.vision})" : category.name %>
    <% today = maturity(category, Date.today) %>
    <% q1 = maturity(category, Date.new(2019,04,30)) %>
    <% q2 = maturity(category, Date.new(2019,07,31)) %>
    <% q3 = maturity(category, Date.new(2019,10,31)) %>
    <% q4 = maturity(category, Date.new(2020,01,31)) %>
    <%= "| #{categoryName} | #{today} | #{q1} | #{q2} | #{q3} | #{q4} |" %>
  <% end %>
<% end %>

## Legend

<ul style="list-style: none;padding-left:0">
  <li><span style="position: relative; padding-right: 20px"><span width="20" title="Planned" class="harvey"></span></span>&nbsp;<b>Planned</b> - Not yet implemented in GitLab, but on our roadmap.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Minimal" class="harvey quarters quarter"></span></span>&nbsp;<b>Minimal</b> - A minimal foundation so people can see where we're going and to validate customer need.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Viable" class="harvey quarters half"></span></span>&nbsp;<b>Viable</b> - Used by users/customers to solve real problems.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Complete" class="harvey quarters full"></span></span>&nbsp;<b>Complete</b> - Contains a competitive feature set sufficient to displace other single-purpose DevOps tools.
  </li>
  <li><span title="Lovable">♥</span>&nbsp;<b>Lovable</b> - Provides an elevated user experience that customers love.
  </li>
</ul>

## Changes

Changes to category maturity are effected in the [categories.yml](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/categories.yml) file. Changes that impact our stated maturity goals should be approved by the VP of Product.